.info-card{
    padding:0 5px;
}
.info-primary{
    background-color: #1CC7C1;
}
.info-dark{
    background-color: #41485C;
}
.info-container{
    height:120px;
    padding:40px;
}
.info-icon{
    font-size:3rem;
}