#contact-form{
    margin-bottom: 100px;
    
    background-image: url('../../../images/appointmentBg.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 700px;
    padding: 30px 0;
    
}
#contact-form  input , #msg-area {
    width:65%;
    margin:0 auto;
    
}
#submit-btn {
    width:150px !important;
    margin:0 auto;
}
#contact-form:before{
    position: absolute;
    content:'';
    display:block;
    background: rgb(36, 41, 73);
    width:100%;
    height: 100%;
    top: 0;
    opacity: .8;
    
    
}
#form-div , #form-header{
    position: relative;
}