.header-container {
    height:800px;
    position:relative;
}
.header-container::after  {
    height:725px;
    content:' ';
    position: absolute;
    top: 0;
    width: 33%;
    right: 0;
    background-color: #3A4256;
    z-index: -50;
}
