.appointment{
    background-image: url(../../../images/appointmentBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 420px;
    background-position: center center;
    margin-top: 120px;
}

.appointment::before{
    position: absolute;
    content:'';
    display:block;
    background: rgb(36, 41, 73);
    width:100%;
    height: 100%;
    opacity: .8;
    top: 0;
}
.appointment img{
    height: 550px;
    transform: translateY(-130px);
}